# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Standard shell files.
[*.sh]
indent_style = space
indent_size = 2

# Files with no extension.
[{.bashrc,.bash_profile,.ansible.cfg,bin/dotfiles}]
indent_style = space
indent_size = 2

# Git configuration files.
[*.git*]
indent_style = tab
indent_size = 2
