[include]
	path = ~/.gitconfig.local
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
	ignorecase = false
	editor = nano
	pager = less -F -X
	whitespace = trailing-space,space-before-tab,tab-in-indent
[push]
	default = current
	followTags = true
[diff]
	tool = icdiff
[difftool]
	prompt = false
[difftool "icdiff"]
	cmd = icdiff --line-numbers $LOCAL $REMOTE | less -X -F
[rerere]
	enabled = true
[alias]
	lol = log --graph --decorate --oneline
	amend = commit --amend --reset-author
	branches = branch -vv
	remotes = remote -v
	tags = log --date-order --tags --simplify-by-decoration --pretty=format:\"%ci %d\"
[remote "origin"]
	prune = true
[log]
	abbrevCommit = true
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[credential "https://github.com"]
	helper = osxkeychain
[credential "https://gist.github.com"]
	helper = osxkeychain
[url "https://"]
	insteadOf = git://
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Samuel Parkinson
	email = 51677+sjparkinson@users.noreply.github.com
