[include]
    path = ~/.gitconfig.local
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
	ignorecase = false
	editor = nano
	pager = less -F -X
	whitespace = trailing-space,space-before-tab,tab-in-indent
[push]
	default = current
[difftool]
	prompt = false
[mergetool]
	prompt = false
	keepBackup = false
[rerere]
	enabled = true
[alias]
	lol = log --graph --decorate --oneline
	amend = commit --amend --reset-author
	branches = branch -vv
	remotes = remote -v
	tags = log --date-order --tags --simplify-by-decoration --pretty=format:\"%ci %d\"
[remote "origin"]
	prune = true
[log]
	abbrevCommit = true
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[credential "http://Samuel.Parkinson@git.svc.ft.com"]
	helper = cache --timeout=18000
[credential "https://github.com"]
	helper = store
[credential "https://gist.github.com"]
	helper = store
[credential "https://git-codecommit.us-east-1.amazonaws.com"]
    helper = !aws codecommit credential-helper $@
